

@{
    ViewBag.Title = "Create";
}

<h2>Create Journey</h2>
<form action="/Journey/Create" method="POST">
    <div>
        <label>Name:</label> <input type="text" name="JourneyTitle" />
    </div>
    <div>
        <input type="submit" value="Create Journey" />

    </div>
</form>